/* Admin Portal */

@font-face {
    font-family: 'GothamMedium';
    src: url('../assets/fonts/Gotham-Medium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../assets/fonts/Gotham-Book.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Andale';
    src: url('../assets/fonts/Andale Mono.ttf');
    font-display: swap;
}

html, body {
	margin: 0;
	padding: 0;
    font-size: 14px;
    font-family: 'Andale';
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

#title {
    width: fit-content;
    font-size: 20px;
    font-family: 'GothamMedium';
    box-shadow: 0 2px black;
}

.default-button {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: lightgray;
    color: black;
    padding: 8px 12px;
    /* width: fit-content; */
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
.default-button:hover {
    box-shadow: 0 0 0 2px darkgray;
}
.default-button:active {
    box-shadow: 0 0 0 4px darkgray;
}
.default-button[data-action="update-content"]::after {
    content: 'Update Content';
}
.default-button[data-action="restart-app"]::after {
    content: 'Restart App';
}
.default-button[data-action="restart-computer"]::after {
    content: 'Restart PC';
}
.default-button[data-action="close-app"]::after {
    content: 'Close App';
}
.default-button[data-action="launch-explorer"]::after {
    content: 'Launch Explorer';
}

#control-panel {
    display: flex;
    height: 100%;
    gap: 20px;
}

#control-panel-left, #control-panel-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

#control-panel-left {
    width: 60%;
}
#control-panel-right {
    width: 40%;
}

#workflows {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.workflow {
    display: flex;
    flex-grow: 1;
    gap: 12px;
}

.workflow-text-input {
    flex-grow: 1;
}

#workflow-progress-bar {
    position: relative;
    width: 100%;
    height: 16px;
    background-color: #efefef;
    border-radius: 8px;
    box-shadow: 0 0 0 1px gray;
    overflow: hidden;
}

#workflow-progress-bar-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    background-color: magenta;
    border-radius: 8px;
    transition: width .2s ease;
}

#camera-capture {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
#camera-capture.show {
    opacity: 1;
    pointer-events: auto;
}

#camera-capture-scrim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#camera-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 80%;
    /* box-shadow: 0 0 0 4px white; */
    /* border-radius: 8px; */
}

#camera-capture-button {
    position: absolute;
    left: 50%;
    top: calc(90% + 20px);
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 8px;
    font-family: 'Andale';
    background: white;
    border: 1px solid gray;
    cursor: pointer;
    padding: 8px 12px;
}

#camera-canvas {
    display: none;
}

#output-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

#output-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

#log {
    flex-grow: 1;
    padding: 12px;
    font-size: 12px;
    line-height: 16px;
}